@charset "utf-8";
/* CSS Document */
*{
			margin: 0px;
			padding: 0px;
		}
		#sayfa{
			width: 900px;
			min-height: 600px;
			border-style: solid;
			border-width: 1px;
			margin: auto;
	
		}
		
		/*BANNER KODLARI*/
		
		#banner {
			width: 898px;
			min-height: 100px;
			border-style: dotted;
			border-width: 1px;
			background-color: #E75642;
			margin: auto;
			
		}#logo{
			width: 150px;
			min-height: 97px;
			border-style: none;
			border-width: 1px;
			background-color: #E75642;
			position: relative;
			top: 0px;
			left: 8px;
			float: left;
			
		}
		#sosyal{
			width: 215px;
			min-height: 20px;
			border-style: none;
			border-width: 1px;
			background-color: white;
			float: right;
			position:relative;
			top:50px;
			right:10px;
			
		}
		#ikon{
			float:right;
			margin-right: 10px;
		}
		
		/* Menü kodları */
		
		#anamenu{
			width: 898px;
			min-height: 50px;
			border-style: dotted;
			border-width: 1px;
			background-color: darkred;
			margin: auto;
		}
		#anamenu ul {
			list-style-type: none;
		}
		#anamenu ul li {
			width: 185px;
			border-style: solid;
			border-width: 3px;
			border-radius: 8px;
			border-color: darkred;
			background-color:#E75642;
			float: left;
			padding: 5px;
			margin-left: 18px;
			position: relative;
			top: 8px;
			text-align: center;		
		}
		#anamenu ul a{
			font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
			text-decoration: none;
			font-weight: bold;	
			
		}
		#anamenu ul a:link{
			color:darkred;
		}
		#anamenu ul a:visited{
			color:sandybrown;
		}
		#anamenu ul a:hover{
			color:burlywood;
			text-decoration: underline;
		}
		#anamenu ul a:active{
			color:darksalmon;
		}
		
		/*İçerik kısmı ve yan menü kodları*/
		
		#icerik{
			width: 660px;
			min-height: 445px;
			border-style: dotted;
			border-width: 1px;
			background-color: darkred;
			float: left;
				}
		#yanmenu{
			width: 236px;
			min-height: 445px;
			border-style: dotted;
			border-width: 1px;
			background-color: #E75642;
			float: left;
		}
		.resim{
			float: left;
			width: 400px;
			height: 300px;
			margin: 10px;
		}
		.metin{
			font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
			font-size: 15px;
			color: black;
		}
		.baslik{
			font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
			font-size: 20px;
			color: black;
		}
		/*Footer kodları */
		#end{
			width: 898;
			border-style:dotted;
			border-width:1px;
			background-color: salmon;
		    text-align: center;
			font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
			font-size: 15px;
		}

